<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Generator</title>
  </head>
  <body>
    <h1>Image Generator</h1>
    <form method="post" action="{{ url_for('generate_image') }}">
      <p>
        Width: <input type="text" name="width" value="500">
      </p>
      <p>
        Height: <input type="text" name="height" value="400">
      </p>
      <p>
        Color:
        <select name="color">
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
      </p>
      <p>
        Format:
        <select name="format">
          <option value="jpeg">JPEG</option>
          <option value="png">PNG</option>
          <option value="gif">GIF</option>
        </select>
      </p>
      <p>
        <input type="submit" value="Generate">
      </p>
    </form>
  </body>
</html>
